body {
    background-image: url("../assets/Fnoire.jpg");
    /*
    background-color: #1E0F1C;
    background-repeat: no-repeat;
    */
    background-size: 100%;
}

main .lore h2 {
    color: whitesmoke;
    text-align: center;
    text-decoration: underline;
}

main .lore p {
    font-size: 20px;
    color: blanchedalmond;
    text-align: center;
    margin-right: 4vw;
    margin-left: 4vw;
}

main .lore {
    display: flex;
    box-shadow: 0 0 30px 5px red;
    border-radius: 50%;
}

main .nous ul li {
    display: flex;
    margin: 2vw;
    align-items: center;
    background-image: url("../assets/fond.jpg");
    border-radius: 50%;
}

main .nous ul li p{
    font-size: 20px;
    color: whitesmoke;
    margin-right: 4vw;
    margin-left: 4vw;
}

main .nous ul li img {
    width: 10vw;
}