body{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    background-image: url("../assets/fondnav.jpg");
}
.survey{
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 10%;
    border-radius: 20px;
    box-shadow: 6px 6px 10px black;
}

p{
    display: flex;
    flex-direction: column;
    padding: 1em;
    width: 20em;
}

a{
    padding-bottom: 1em;
    text-decoration: none;
    color: white;
}


.survey2{
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 5%;
    border-radius: 20px;
    box-shadow: 6px 6px 10px black;
}

.radio_choice{
    display: flex;
    justify-content: space-around;
}

.button_container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 1em;
    padding-left: 1em;
}

button{
    width: 24em;
}